<div class="row justify-content-md-center">
  <% if @exhibition.errors.any? %>
    <div class="alert alert-light col-md-6" role="alert" id="error_explanation">
      <h6>
        <%= pluralize(@exhibition.errors.count, "error") %>
        prohibited this exhibition from being saved:
      </h6>
      <ul class="list-group">
        <% @exhibition.errors.full_messages.each do |msg| %>
          <li class="list-group-item list-group-item-danger">
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row justify-content-md-center">
  <%= render 'form', action: "Edit", url: admin_exhibition_path(@exhibition) %>
</div>
