<div class="row justify-content-md-center">
  <%= render 'alerts' %>
</div>

<div class="row justify-content-md-center">
  <%= render 'form', action: "Edit", url: admin_category_painting_path %>
</div>
